<nav class="ui-g">
  <div class="ui-g-2 ui-fluid">
    <p-megaMenu [model]="menuItems" orientation="vertical"></p-megaMenu>
  </div>
  <div class="ui-g-8 ui-fluid">
    <router-outlet></router-outlet>
  </div>
  <div class="ui-g-2 ui-fluid">
    <p-panel header="Reklama">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque quas!</p>
    </p-panel>
  </div>
</nav>
